header {
  background-color: black;
  height: calc(100vh - 5rem);
}

.header-bottom {
  position: relative;
  background-color: black;
  /* color: white; */
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 40px;
}
.header-bottom .img-frame {
  height: 100%;
  width: 100%;
  border-radius: 28px;
  overflow: hidden;
}
.header-bottom .img-frame img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* border-radius: 28px; */
}
.header-bottom .header-content {
  /* background-color: red; */
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-bottom .header-content * {
  color: white;
}
.header-bottom .header-content h1 {
  font-size: 4rem;
  width: 70%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}
.header-bottom .header-content p {
  width: 70%;
  text-align: center;
  margin-bottom: 2rem;
}
.header-bottom .header-content button {
  color: black;
  background-color: rgb(208, 243, 72);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 1.4rem;
  font-size: 1rem;
}

section {
  background-color: rgb(250, 250, 250);
  padding: 1rem 3rem;
}
section .section-title {
  font-weight: 400;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
section .section-des {
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
  color: var(--primary);
}

.trust-section .trust-cards {
  /* display: flex;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 3rem;
}
.trust-section .trust-cards .trust-card {
  position: relative;
  /* width: 15rem;
  height: 15rem; */
  width: 100%;
  aspect-ratio: 1/1;
  /* height: 100%; */
  background-color: rgb(250, 250, 250);
  border-radius: 2rem;
  /* border: solid 1px black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.5rem;
}
.trust-section .trust-cards .trust-card .icon-frame {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trust-section .trust-cards .trust-card .ratio {
  font-size: 3rem;
}
.trust-section .trust-cards .trust-card .des {
  font-size: 1.3rem;
  color: var(--primary);
}

.services-section .section-title, .services-section .section-des {
  text-align: center;
}
.services-section .services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.services-section .services-cards .service-card {
  width: 100%;
  aspect-ratio: 1/1.2;
  border-radius: 2rem;
  overflow: hidden;
  border: solid 2px rgba(112, 113, 104, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.services-section .services-cards .service-card:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}
.services-section .services-cards .service-card .card-top {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.services-section .services-cards .service-card .card-top img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services-section .services-cards .service-card .card-bottom {
  padding: 1rem;
}
.services-section .services-cards .service-card .card-bottom .card-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.services-section .services-cards .service-card .card-bottom .card-des {
  color: var(--primary);
}
.services-section .frame-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.services-section .frame-btn .services-view-all-btn {
  width: 10rem;
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 1.25rem;
  padding: 0.5rem 2rem;
  border: solid 1px black;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.services-section .frame-btn .services-view-all-btn:hover {
  background-color: black;
  color: white;
  width: 12rem;
}

.methods-section .section-title, .methods-section .section-des {
  text-align: center;
}
.methods-section .main-content {
  display: flex;
  gap: 1rem;
}
.methods-section .main-content .left {
  width: 60%;
  height: 30rem;
  border-radius: 2rem;
  overflow: hidden;
}
.methods-section .main-content .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.methods-section .main-content .right {
  width: 40%;
  height: 30rem;
  padding: 1rem;
  list-style: none;
}
.methods-section .main-content .right .right-item {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-align: justify;
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}
.methods-section .main-content .right .right-item:hover {
  background-color: rgb(205, 205, 205);
}
.methods-section .main-content .right .right-item .num {
  font-weight: 900;
}

.benefits-section {
  background-color: rgb(248, 247, 241);
  margin-top: 3rem;
  padding: 4rem 3rem;
}
.benefits-section .section-title {
  margin-top: 0;
}
.benefits-section .section-des {
  width: 60%;
}
.benefits-section .section-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.benefits-section .section-content .content-item {
  height: 8rem;
  padding: 0 1rem;
}
.benefits-section .section-content .content-item .top {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-section .section-content .content-item .bottom {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.benefits-section .section-content .content-item .bottom .item-name {
  font-weight: 400;
  text-align: center;
}

.stories-section {
  margin-top: 3rem;
  padding: 4rem 3rem;
  background-color: white;
}
.stories-section .section-title {
  margin-top: 0;
}
.stories-section .section-des {
  width: 60%;
}
.stories-section .section-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.stories-section .section-content .content-item {
  height: 13rem;
  display: flex;
}
.stories-section .section-content .content-item .left {
  width: 33.3333333333%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
}
.stories-section .section-content .content-item .left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.stories-section .section-content .content-item .right {
  width: 66.6666666667%;
  height: 100%;
  padding: 0 1rem;
}
.stories-section .section-content .content-item .right .content-top {
  height: 50%;
  display: flex;
  align-items: center;
}
.stories-section .section-content .content-item .right .content-top .post-text {
  color: var(--primary);
}
.stories-section .section-content .content-item .right .content-bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.stories-section .section-content .content-item .right .content-bottom h3 {
  font-weight: 400;
}
.stories-section .section-content .content-item .right .content-bottom h6 {
  color: var(--primary);
  font-weight: 400;
}

.video-section {
  height: calc(100vh - 5rem);
  padding: 3rem;
}
.video-section .video-frame {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
}
.video-section .video-frame .video {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=home.css.map */