*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto, Arial;

}
:root{
  --primary : rgb(112, 113, 104);
  --primary2 : #d0f348;

  --light-grey: rgb(240,240,240);
  // --primary : red;
}

nav{
  position: sticky;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;

  background-color: black;
  /* padding: 10px; */
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px; */

  /* padding: 40px 30px 40px 30px; */
  padding: 40px 30px ;


  .nav-frame{
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .nav-links{
      display: flex;
      .nav-link{
        position: relative;
        margin: 0 10px;
        color: white;
        text-decoration: none;
        transition: all 300ms ease-in-out;
        z-index: 0;
        &:hover{
          color: var(--primary2);
          &::after{
            width: 100%;
          }
          // &::before{
          //   width: 100%;
          // }
        }
        &::after{
          content: '';
          position: absolute;
          bottom: -1rem;
          left: 0;
          z-index: 1;

          width: 0;
          height: 2px;
          background-color: var(--primary2);
          transition: all 300ms ease-in-out;
        }
        // &::before{
        //   content: '';
        //   position: absolute;
        //   bottom: -1.5rem;
        //   left: 0;
        //   z-index: 2;

        //   width: 0;
        //   height: 2px;
        //   background-color: var(--primary2);
        //   transition: all 300ms ease-in-out;
        // }
        // &::before{
        //   content: 'abc';
        // }
        // &::after{
        //   content: '123';
        // }
      }
    }
    p{
      color: white;
    }
  }
}

.footer{
  margin-top: 2rem;
  padding: 2rem 3rem;
  .top{
    // height: 20rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    .col{
      // background-color: red;
      .logo-img{
        width: 50%;
        margin-bottom: 2rem;
      }

      &.links-col{
        display: flex;
        flex-direction: column;
        h1{
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
        }
        a{
          font-size: .8rem;
          text-decoration: none;
          color: var(--primary);
          margin-bottom: .6rem;

        }
        &.social-col{
          a{
            text-decoration: underline;
          }
        }
      }


    }
  }
  .bottom{
    // height: 5rem;
    // background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .special{
      font-weight: 800;
    }
  }

}


.pcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pcs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pce{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pcb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cover{
  width: 100%;
  height: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contain{
  width: 100%;
  height: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

