* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial;
}

:root {
  --primary: rgb(112, 113, 104);
  --primary2: #d0f348;
  --light-grey: rgb(240,240,240);
}

nav {
  position: sticky;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  background-color: black;
  /* padding: 10px; */
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px; */
  /* padding: 40px 30px 40px 30px; */
  padding: 40px 30px;
}
nav .nav-frame {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100%;
  border-radius: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
nav .nav-frame .nav-links {
  display: flex;
}
nav .nav-frame .nav-links .nav-link {
  position: relative;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  z-index: 0;
}
nav .nav-frame .nav-links .nav-link:hover {
  color: var(--primary2);
}
nav .nav-frame .nav-links .nav-link:hover::after {
  width: 100%;
}
nav .nav-frame .nav-links .nav-link:hover::before {
  width: 100%;
}
nav .nav-frame .nav-links .nav-link::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 1;
  width: 0;
  height: 2px;
  background-color: var(--primary2);
  transition: all 300ms ease-in-out;
}
nav .nav-frame .nav-links .nav-link::before {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  z-index: 2000;
  width: 0;
  height: 2px;
  background-color: var(--primary1);
  transition: all 300ms ease-in-out;
}
nav .nav-frame p {
  color: white;
}

.footer {
  margin-top: 2rem;
  padding: 2rem 3rem;
}
.footer .top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}
.footer .top .col .logo-img {
  width: 50%;
  margin-bottom: 2rem;
}
.footer .top .col.links-col {
  display: flex;
  flex-direction: column;
}
.footer .top .col.links-col h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.footer .top .col.links-col a {
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--primary);
  margin-bottom: 0.6rem;
}
.footer .top .col.links-col.social-col a {
  text-decoration: underline;
}
.footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .bottom .special {
  font-weight: 800;
}

.pcc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pcs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pce {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pcb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contain {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.contain img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */