*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Roboto, Arial;

}
:root{
  --primary : rgb(112, 113, 104);
  // --primary : red;
}

nav{
  position: sticky;
  top: 0rem;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 1000;

  background-color: black;
  /* padding: 10px; */
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px; */

  /* padding: 40px 30px 40px 30px; */
  padding: 40px 30px ;


  .nav-frame{
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    border-radius: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .nav-links{
      display: flex;
      .nav-link{
        margin: 0 10px;
        color: white;
        text-decoration: none;
      }
    }
    p{
      color: white;
    }
  }
}


.pcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pcs{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pce{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pcb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cover{
  width: 100%;
  height: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contain{
  width: 100%;
  height: 100%;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

